<div id="terms" class="dialog dialog--open modalText">
		 
	<div class="dialog__overlay"></div>
	<div class="dialog__content">
		<header>
			<h1>TERMOS AND CONDIÇÕES</h1>
		</header>

		<section class="contentWrapper">
			<section class="content">
				<div class="container">
					<h2>Termos e Condições de Utilização do Alert-AS</h2>
					<h3>Notas Gerais:</h3>
					<p>O website Alert-AS proporciona ao público em geral um sistema gráfico de informação sobre situações meteorológicas potencialmente perigosas em toda a área geográfica da América do Sul. As informações e dados contidos no Alert-AS são apresentados exclusivamente para efeitos de aviso e informação, não se destinando a fins comerciais. Nem o INMET nem os restantes Serviços Meteorológicos Nacionais serão responsáveis por eventuais erros ou atrasos no conteúdo do website Meteoalarm ou por decisões com base nele tomadas.</p>

					<h3>Utilização deste web site</h3>	
					<p>O acesso ao website Alert-AS e o uso dos seus conteúdos implica a aceitação das presentes condições e termos, efetivos a partir do início da primeira utilização do site.</p>

					<p>Os parceiros do Alert-AS reservam-se o direito de, em qualquer momento, introduzir nestes termos e condições alterações que serão anunciadas online.</p>

					<p>O utilizador assume a responsabilidade de se manter informado de eventuais alterações consultando regularmente a informação anunciada online. A continuação da utilização deste site após o anúncio da referida informação implica aceitação às alterações.</p>
					
					<p>Os parceiros do Alert-AS tomaram todas as medidas razoáveis no sentido de assegurar o rigor das informações e dados no momento em que são apresentados no web site. As informações e dados do Alert-AS são constantemente sujeitos a atualização e alteração. Em caso algum serão os parceiros do Alert-AS responsáveis perante o utilizador ou qualquer terceiro por danos ou perdas diretas ou indiretas, resultantes de uso devido ou indevido dos dados.</p>
					
					<h3>Propriedade intelectual</h3>	
					<p>O material apresentado neste site é propriedade comum dos parceiros do Alert-AS. O conteudo deste site, podera ser reproduzido desde que citada a fonte, excetuando os casos especificados em contrario e os conteudos replicados de outras fontes. O INMET nao se responsabiliza por eventuais danos que o conteudo hospedado por terceiros possa causar, sejam estes morais ou materiais.</p>
					
					<h3>Que informação será apresentada?</h3>
					<p>O sistema de alertas consistirá em mapas geográficos e num conjunto normalizado de situações de alerta, selecionadas com base no uso praticamente comum na maioria dos países participantes, todas elas com cores (níveis de alerta) atribuídas a esses países e às suas regiões. É utilizado um código de cores indicativo da intensidade do fenômeno previsto.</p>
				</div>
			</section>
		</section>
		<a href="#" class="action close" ng-click="close()" data-dialog-close>u</a>
	</div>

</div>