<div id="alert-detail" ng-class="['dialog', emergencia.eventoClass, emergencia.riscoClass, 'dialog--open']">
		
		<div class="dialog__overlay"></div> 
		 
		  
		<div class="dialog__content">
			<header>
				<i></i>
				<h1>{{ emergenciaI18nFilter(emergencia.i18n, 'evento') }}</h1>
				<h2>{{ emergenciaI18nFilter(emergencia.i18n, 'risco') }}</h2>
			</header>

			<div class="mobileWrapperContentModal">
				<section class="wrapperDetail"> 
					<section class="duration">
						<p>{{ 'ALERTMODAL_DATAINICIO' | translate }}:<b>{{ emergenciaI18nFilter(emergencia.i18n, 'dataInicio') }}</b></p>
						<p>{{ 'ALERTMODAL_DATAFIM' | translate }}:<b>{{ emergenciaI18nFilter(emergencia.i18n, 'dataFim') }}</b></p>
					</section>

					<section class="risks">
						<p>{{ 'ALERTMODAL_RISCOEMPOTENCIAL' | translate }}:</p>
						<p><b>{{emergencia.emergenciaDescricao}}</b></p>
						
					</section>
					<section class="risks">
						<p>{{ 'ALERTMODAL_RECOMENDACOES' | translate }}:</p>
						<p><b>{{emergencia.recomendacoes}}</b></p> 
						
					</section>

					<section class="affected-area">
						<p>{{ 'ALERTMODAL_AREASAFETADAS' | translate }}:<p>
						<p><b>{{emergencia.areasAfetadas}}</b></p>
						
					</section>
				</section>

				<section class="headerAffected">
					<form accept-charset="utf-8">
						<input type="text" ng-model="busca" placeholder="Buscar">
					</form>
					
					<table>
						<thead>
							<tr>
								<th class="cidades" ng-click="orderarPor('nome')">Cidades afetadas</th>
								<!-- th class="geocode" ng-click="orderarPor('geocode')">Geocode</th-->
								<th class="uf" ng-click="orderarPor('uf')">UF</th>
							</tr>
						</thead>
					</table>

				</section>
				
				<section class="wrapperAffected">
					<table class="affected-city">
						<tbody>
							<tr ng-repeat="municipio in list = (municipios | filter:busca)">
								<td class="cidades">{{municipio.nome}}</td>
								<!-- td class="geocode">{{municipio.geocode}}</td-->
								<td class="uf">{{municipio.uf}}</td>
							</tr>
							<tr ng-hide="list.length">
								<td class="cidades" colspan="2">{{ 'ALERTMODAL_NENHUM_RESULTADO' | translate }}</td>
							</tr>							
						</tbody>
					</table>
				</section>
			</div>

			<footer>
				<h1>instituição: <b>instituto nacional de meteorologia (inmet - brasil)</b></h1>
				<a class="print" href="{{emergencia.urlDocumento}}" target="_blank">0</a>
				<div class="share">
					<span>compartilhar</span>
					<a href="#" socialshare socialshare-provider="facebook" socialshare-text="{{ emergenciaI18nFilter(emergencia.i18n, 'evento') }} - {{ emergenciaI18nFilter(emergencia.i18n, 'risco') }}" socialshare-url="http://alert-as.inmet.gov.br/cv/emergencia/cap/{{emergencia.idCap}}" title="Facebook">U</a>
					<a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{ emergenciaI18nFilter(emergencia.i18n, 'evento') }} - {{ emergenciaI18nFilter(emergencia.i18n, 'risco') }}" socialshare-url="http://alert-as.inmet.gov.br/cv/emergencia/cap/{{emergencia.idCap}}" title="Twitter">V</a>
					<a href="#" socialshare socialshare-provider="google+" socialshare-text="{{ emergenciaI18nFilter(emergencia.i18n, 'evento') }} - {{ emergenciaI18nFilter(emergencia.i18n, 'risco') }}" socialshare-url="http://alert-as.inmet.gov.br/cv/emergencia/cap/{{emergencia.idCap}}" title="Google+">W</a>
					<a href="#" title="">Y</a>
				</div>
			</footer>

			<a href="#" class="action close" ng-click="close()" data-dialog-close>u</a>
		</div>
</div>