<div id="about" class="dialog dialog--open modalText">		 
	<div class="dialog__overlay"></div>
	<div class="dialog__content">
		<header>
			<h1>SOBRE ALERT-AS</h1>
		</header>

		<section class="contentWrapper">
			<section class="content">
				<div class="container">
					<h2>PREÂMBULO</h2>
					<p>O Alert-AS é uma rede de serviços meteorológicos nacionais da América do Sul.
					<p>Tal sistema proporciona uma organização de programas de cooperação entre os seus membros no campo de eventos severos. A intenção dos membros é desenvolver a capacidade coletiva de contribuição para a gestão do ambiente e a vigilância do clima, e ainda, abrir a possiblidade do acesso à informação meteorológica a todos os usuários da da América do Sul. O Alert-AS chega como uma poderosa ferramenta de uso coletivo visando o bem-estar do cidadão sul-americano.</p>
				</div>
				<div class="container">
					<h2>MODUS OPERANDI</h2>
					<p>O centro previsor detecta algum evento severo que possa vir a acontecer e cria o aviso, que pode ter três graus de severidade (amarelo, laranja e vermelho), atrelado a este aviso é mensurada a provável área atingida por tal evento severo, junto com a sua provável duração. Dentro do sistema, este aviso não só é consumido pelo público, para alertá-lo, como para os centros de contingenciamento,como a Defesa Civil.</p>
					<p>Desta forma é possível acompanhar tal aviso e responder as consequências, caso haja alguma, focando sempre a segurança da sociedade perante a possíveis desastres.</p>
				</div>
			</section>
			
		</section>
		<a href="#" class="action close" ng-click="close()" data-dialog-close>u</a>
	</div>
</div>