<div id="contact" class="dialog dialog--open modalText">
		 
		<div class="dialog__overlay"></div>
		<div class="dialog__content">
			<header>
				<h1>CONTACT</h1>
			</header>

			<section class="contentWrapper">
				<section class="content">
					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et orci ut est imperdiet vehicula in ultricies metus. Duis nisl ipsum, rhoncus in lectus et, aliquet maximus mauris. Quisque mattis justo nec ligula convallis, sed ultrices dolor facilisis. Cras egestas nulla sit amet leo molestie, vitae suscipit lorem auctor. Morbi a quam facilisis, luctus augue sed, dictum lacus. Morbi eu nibh auctor, vehicula lacus non, rhoncus ex. Duis leo nisi, ultricies eu lectus id, elementum elementum arcu. Nam vitae lacinia ligula. Suspendisse eleifend, neque non ullamcorper faucibus, nisi ipsum sodales risus, et condimentum erat urna id tellus. Donec nec tincidunt odio. Aliquam bibendum cursus nisl. Suspendisse et lacinia erat.</p>

					<p>Maecenas sed finibus massa, eget dictum nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eget nisi vitae lectus dignissim interdum sit amet dignissim eros. Nulla facilisi. Praesent et quam ac augue viverra pharetra quis a felis. Morbi dignissim, ex luctus convallis finibus, turpis enim aliquam nisi, eget ullamcorper ante nibh eget lectus. Suspendisse porttitor eu purus non aliquet. Curabitur quis rutrum turpis. Aliquam ornare massa eget nisi malesuada condimentum. Cras sodales justo at justo varius ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum felis nulla, auctor ut posuere vel, ultricies vel sapien. Vivamus ac ante dapibus, viverra metus non, bibendum leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ut ultricies lorem, at aliquet orci</p>
				</section>
				
			</section>


			<a href="#" class="action close" ng-click="close()" data-dialog-close>u</a>
		</div>
</div>